<div class="pixgrid clearfix">
    <% for( let index = 0; index < allArtwork.length; index++ ) { %>
        <img src="./images/artwork/<%=allArtwork[index]%>" alt="Artwork <%=index%>">
    <% } %>
</div>