<div class="container mt-4">
  <div class="row">
    <div class="col-md-4">
      <div class="maincontent">
        <%- include('./partials/feedbackForm') %>
      </div>
    </div>
    <aside class="col-md-8">
      <div class="maincontent feedback">
        <h1>Recent Feedback</h1>

        <div class="feedback-items">

          <% feedback.forEach(feedback => { %>
           <%- include('./partials/feedbackItem', { feedback }) %>
          <% }) %>
        </div>
      </div>
    </aside>
  </div>
</div>
