<div class="container mt-4">
  <div class="row">
    <div class="col-sm-8">
    <%- include('./partials/speakersList') %>
    </div>
    <aside class="col-sm-4">
      <article class="sidebar">
        <h1 class="sidebar-title">Artwork on display</h1>
        <p class="sidebar-body">While you attend the conference, head over to our gallery where you can check out some
          of the work from our speakers.</p>
        <%- include('./partials/allArtwork')%>
      </article>
    </aside>

  </div>
</div>
